@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section video {
    position: absolute;
     top: -200px;
    left: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
    
    }
section h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #474747; 
    font-size: 25vw;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 0.85em;
    mix-blend-mode: multiply; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 800; 
    border-bottom: 5px solid black
    }
   
.black {
  background-color: rgb(0, 0, 0);
}
.text {
    margin-top: 5px;
}
.red {
    margin-top: -200px;
  background-color:#344442;
}

/* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */
.element-big  {
  width: 100%;
  height: 520px;
}


.element-animation {
    margin-left: 10%;
  font-size: 3.5rem;
    /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(30px);
  color:#f8c280 ;
  font-family:monospace;

}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(7%);
  -webkit-box-shadow: 0px -1px 0px 0px rgba(248, 194, 128, 1);
  -moz-box-shadow: 0px -1px 0px 0px rgba(248, 194, 128, 1);
  box-shadow: 0px -1px 0px 0px rgba(248, 194, 128, 1);
  max-width: max-content;
}

.btn {
margin-right: 20px;
margin-left: 20px;}

#btton1 {
    margin-right: 120px;
}
html {
    background-color: #232e30;

}
